/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../Images/mulan css.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#container{
	color: white;
	width: 40%;
	padding: 40px;
	height: 550px;
	font-size: 130%;
}
h1 {
	font-size: 65px;
	font-style: "courgette", cursive;
}
h2 {
	color: black;
	background: red;
	border-radius: 6px;
}
p {
	text-decoration: none;
	font-style: "lemonada", cursive;
}

a:link, a:visited {
	text-decoration: none;
	font-size: bold;
	color: blue;
}
a:hover, a:active {
	background-color: purple;
	color: blue;











